body{
  font-family: 'Advent Pro', Helvetica, Arial, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.cardImageBg{
  height: 300px;
  object-fit: cover;
}

.featHomeImage   {
  height: 500px;
  object-fit: cover;
}

span a{
  text-decoration: none;
  color: #FF4A67;
  font-weight: bold;
}

.navbarLogo {
  width: 65px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}
