@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

body{
  font-family: 'Quicksand', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.cardImageBg{
  height: 300px;
  object-fit: cover;
}

.featHomeImage   {
  height: 100%;
  object-fit: cover;
}

span a{
  text-decoration: none;
  color: #FF4A67;
  font-weight: bold;
}

.navbarLogo {
  width: 65px;
}

h1, h2, h3, h4, p, a, span {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

div#main-title {
  text-align: center;
  font-size: 3rem;
}

div#map-container {
  max-height: 200px !important;
  height: 100%;
  display: block;
}
